In [4]:
from os import write

# 범주형 변수를 컴퓨터가 이해할 수 있도록 숫자를 매핑시켜야함.
import pandas as pd

# 데이터프레임 생성
data = {
    "Brand": ["Ford", "Honda", "Ford", "Toyota", "Toyota", "Toyota", "Honda", "Toyota", "Toyota", "Ford"],
    "Model": ["Sedan", "Sedan", "SUV", "Sedan", "Sedan", "Sedan", "Truck", "SUV", "Sedan", "Sedan"],
    "정비 이력등급": ["없음", "보통", "없음", "정기적", "없음", "정기적", "없음", "보통", "없음", "정기적"],
    "주행거리": [44676.6, 51638.2, 57685.7, 45822.0, 38865.6, 56178.5, 58437.6, 39963.5, 61611.4, 73547.4],
    "중고차가격": [20052.0, 16511.6, 13936.9, 25494.9, 21297.9, 22708.3, 15314.2, 23178.7, 13233.2, 11806.2]
}

df = pd.DataFrame(data)

# CSV로 저장
df.to_csv("used_car_data.csv", index=False, encoding="utf-8-sig")
print("CSV 파일이 저장되었습니다: used_car_data.csv")

CSV 파일이 저장되었습니다: used_car_data.csv

In [6]:
import pandas as pd

# 데이터프레임 생성
test_data = {
    "Brand": ["Toyota", "Ford", "Honda", "Chevrolet", "Toyota"],
    "Model": ["SUV", "Truck", "Sedan", "Sedan", "Truck"],
    "정비 이력등급": ["보통", "없음", "정기적", "정기적", "없음"],
    "주행거리": [45000, 30000, 40000, 50000, 55000]
}

df_test = pd.DataFrame(test_data)

# CSV로 저장
df_test.to_csv("test_dataset.csv", index=False, encoding="utf-8-sig")
print("CSV 파일이 저장되었습니다: test_dataset.csv")

CSV 파일이 저장되었습니다: test_dataset.csv

In [18]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
train_used_car = pd.read_csv("used_car_data.csv")
test_used_car = pd.read_csv("test_dataset.csv")

categorical_var = ['Brand',  'Model', '정비 이력등급']

label_encoders = {}

for col in categorical_var:
    le_train = LabelEncoder()

    train_used_car[col] = le_train.fit_transform(train_used_car[col]) # fit(범주 학습)과 transform(정수 매핑)을 함께 처리
    label_encoders[col] = le_train

display(train_used_car.head())

   Brand  Model  정비 이력등급     주행거리    중고차가격
0      0      1        1  44676.6  20052.0
1      1      1        0  51638.2  16511.6
2      0      0        1  57685.7  13936.9
3      2      1        2  45822.0  25494.9
4      2      1        1  38865.6  21297.9

array(['Ford', 'Honda', 'Toyota'], dtype=object)

In [19]:
# 인코딩을 어떻게 수행했는지 확인
for col in categorical_var:
    display(f"{col} :")
    for i in range(len(label_encoders[col].classes_)):
        display(f"{label_encoders[col].classes_[i]} ({i})")

'Brand :'

'Ford (0)'

'Honda (1)'

'Toyota (2)'

'Model :'

'SUV (0)'

'Sedan (1)'

'Truck (2)'

'정비 이력등급 :'

'보통 (0)'

'없음 (1)'

'정기적 (2)'

In [20]:
# 테스트 데이터에 적용하기
test_ex1 = test_used_car.copy()

for col in categorical_var:

    try :
        test_ex1[col] = label_encoders[col].transform(test_ex1[col]) # 기존에 학습된 규칙으로 정수 인코딩
    except Exception as e:
         print(f"label_encoders {col} Error: {e}")


display(test_ex1.head())
display(test_ex1[categorical_var].dtypes)

label_encoders Brand Error: y contains previously unseen labels: 'Chevrolet'

       Brand  Model  정비 이력등급   주행거리
0     Toyota      0        0  45000
1       Ford      2        1  30000
2      Honda      1        2  40000
3  Chevrolet      1        2  50000
4     Toyota      2        1  55000

Brand      object
Model       int64
정비 이력등급     int64
dtype: object

In [24]:
# 학습 데이터에 없는 범주 처리
test_ex2 = test_used_car.copy()

# train_used_car 데이터셋의 라벨 인코더 클래스에 '기타' 범주를 다시 추가
for le in label_encoders.values():
    le.classes_ = np.append(le.classes_, 'Other')

# 새로운 범주값을 '기타'로 매핑하고 라벨 인코더를 적용하는 과정을 하나의 루프로 합치기
for col in categorical_var:
    # 새로운 값들을 '기타'로 매핑
    test_ex2[col] = test_ex2[col].apply(lambda x: x if x in label_encoders[col].classes_ else 'Other')
    # 라벨 인코더 적용
    test_ex2[col] = label_encoders[col].transform(test_ex2[col])

# 변환된 test_used_car 데이터셋 보여주기
display(test_ex2.head())

'''
단순히 Label Encoding을 해버리면 명목형 자료에서는 의도하지 않는 중요도가 생길 가능성이 있고 순서형 자료에서는 순서를 제대로 나타내지 못하는 부작용이 생길 가능성이 있다.'''

   Brand  Model  정비 이력등급   주행거리
0      2      0        0  45000
1      0      2        1  30000
2      1      1        2  40000
3      5      1        2  50000
4      2      2        1  55000

'\n단순히 Label Encoding을 해버리면 명목형 자료에서는 의도하지 않는 중요도가 생길 가능성이 있고 순서형 자료에서는 순서를 제대로 나타내지 못하는 부작용이 생길 가능성이 있다.'

In [22]:
import pandas as pd

# 데이터프레임 생성
data = {
    "ID": ["TRAIN_0000", "TRAIN_0001", "TRAIN_0002", "TRAIN_0003", "TRAIN_0004"],
    "age": [75, 23, 34, 34, 51],
    "education": ["Some-college", "Bachelors", "Some-college", "HS-grad", "HS-grad"],
    "hours.per.week": [30, 40, 12, 36, 60],
    "occupation": ["Craft-repair", "Exec-managerial", "Other-service", "Adm-clerical", "Farming-fishing"],
    "race": ["White", "White", "White", "White", "White"],
    "target": [0, 0, 0, 0, 0]
}

df = pd.DataFrame(data)

# CSV로 저장
df.to_csv("train_data.csv", index=False, encoding="utf-8-sig")
print("CSV 파일이 저장되었습니다: train_data.csv")

CSV 파일이 저장되었습니다: train_data.csv

In [31]:
# education column 인코딩하기
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
le = LabelEncoder()
data = pd.read_csv('train_data.csv')
data1 = data.copy()
data1['education'] = le.fit_transform(data1['education'])
print(data['education'].unique())
print(data1['education'].unique())

['Some-college' 'Bachelors' 'HS-grad']
[2 0 1]

In [ ]:
# education 열에 새로운 고유값 있는지 확인하기
data2 = data.copy()
with open('test_income_simple.csv', 'w', encoding = 'utf-8') as file:
    file.write('ID,age,education,hours.per.week,occupation,race
TEST_0000,23,7th-8th,40,Machine-op-inspct,Black
TEST_0001,41,HS-grad,40,Sales,White
TEST_0002,47,HS-grad,38,Prof-specialty,White
TEST_0003,31,HS-grad,40,Machine-op-inspct,White
TEST_0004,22,Some-college,40,Adm-clerical,White
')