In [40]:
from os import write

# 범주형 변수를 컴퓨터가 이해할 수 있도록 숫자를 매핑시켜야함.
import pandas as pd

# 데이터프레임 생성
data = {
    "Brand": ["Ford", "Honda", "Ford", "Toyota", "Toyota", "Toyota", "Honda", "Toyota", "Toyota", "Ford"],
    "Model": ["Sedan", "Sedan", "SUV", "Sedan", "Sedan", "Sedan", "Truck", "SUV", "Sedan", "Sedan"],
    "정비 이력등급": ["없음", "보통", "없음", "정기적", "없음", "정기적", "없음", "보통", "없음", "정기적"],
    "주행거리": [44676.6, 51638.2, 57685.7, 45822.0, 38865.6, 56178.5, 58437.6, 39963.5, 61611.4, 73547.4],
    "중고차가격": [20052.0, 16511.6, 13936.9, 25494.9, 21297.9, 22708.3, 15314.2, 23178.7, 13233.2, 11806.2]
}

df = pd.DataFrame(data)

# CSV로 저장
df.to_csv("used_car_data.csv", index=False, encoding="utf-8-sig")
print("CSV 파일이 저장되었습니다: used_car_data.csv")

CSV 파일이 저장되었습니다: used_car_data.csv

In [41]:
import pandas as pd

# 데이터프레임 생성
test_data = {
    "Brand": ["Toyota", "Ford", "Honda", "Chevrolet", "Toyota"],
    "Model": ["SUV", "Truck", "Sedan", "Sedan", "Truck"],
    "정비 이력등급": ["보통", "없음", "정기적", "정기적", "없음"],
    "주행거리": [45000, 30000, 40000, 50000, 55000]
}

df_test = pd.DataFrame(test_data)

# CSV로 저장
df_test.to_csv("test_dataset.csv", index=False, encoding="utf-8-sig")
print("CSV 파일이 저장되었습니다: test_dataset.csv")

CSV 파일이 저장되었습니다: test_dataset.csv

In [42]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
train_used_car = pd.read_csv("used_car_data.csv")
test_used_car = pd.read_csv("test_dataset.csv")

categorical_var = ['Brand',  'Model', '정비 이력등급']

label_encoders = {}

for col in categorical_var:
    le_train = LabelEncoder()

    train_used_car[col] = le_train.fit_transform(train_used_car[col]) # fit(범주 학습)과 transform(정수 매핑)을 함께 처리
    label_encoders[col] = le_train

display(train_used_car.head())

   Brand  Model  정비 이력등급     주행거리    중고차가격
0      0      1        1  44676.6  20052.0
1      1      1        0  51638.2  16511.6
2      0      0        1  57685.7  13936.9
3      2      1        2  45822.0  25494.9
4      2      1        1  38865.6  21297.9

In [43]:
# 인코딩을 어떻게 수행했는지 확인
for col in categorical_var:
    display(f"{col} :")
    for i in range(len(label_encoders[col].classes_)):
        display(f"{label_encoders[col].classes_[i]} ({i})")

'Brand :'

'Ford (0)'

'Honda (1)'

'Toyota (2)'

'Model :'

'SUV (0)'

'Sedan (1)'

'Truck (2)'

'정비 이력등급 :'

'보통 (0)'

'없음 (1)'

'정기적 (2)'

In [44]:
# 테스트 데이터에 적용하기
test_ex1 = test_used_car.copy()

for col in categorical_var:

    try :
        test_ex1[col] = label_encoders[col].transform(test_ex1[col]) # 기존에 학습된 규칙으로 정수 인코딩
    except Exception as e:
         print(f"label_encoders {col} Error: {e}")


display(test_ex1.head())
display(test_ex1[categorical_var].dtypes)

label_encoders Brand Error: y contains previously unseen labels: 'Chevrolet'

       Brand  Model  정비 이력등급   주행거리
0     Toyota      0        0  45000
1       Ford      2        1  30000
2      Honda      1        2  40000
3  Chevrolet      1        2  50000
4     Toyota      2        1  55000

Brand      object
Model       int64
정비 이력등급     int64
dtype: object

In [45]:
# 학습 데이터에 없는 범주 처리
test_ex2 = test_used_car.copy()

# train_used_car 데이터셋의 라벨 인코더 클래스에 '기타' 범주를 다시 추가
for le in label_encoders.values():
    le.classes_ = np.append(le.classes_, 'Other')

# 새로운 범주값을 '기타'로 매핑하고 라벨 인코더를 적용하는 과정을 하나의 루프로 합치기
for col in categorical_var:
    # 새로운 값들을 '기타'로 매핑
    test_ex2[col] = test_ex2[col].apply(lambda x: x if x in label_encoders[col].classes_ else 'Other')
    # 라벨 인코더 적용
    test_ex2[col] = label_encoders[col].transform(test_ex2[col])

# 변환된 test_used_car 데이터셋 보여주기
display(test_ex2.head())

'''
단순히 Label Encoding을 해버리면 명목형 자료에서는 의도하지 않는 중요도가 생길 가능성이 있고 순서형 자료에서는 순서를 제대로 나타내지 못하는 부작용이 생길 가능성이 있다.'''

   Brand  Model  정비 이력등급   주행거리
0      2      0        0  45000
1      0      2        1  30000
2      1      1        2  40000
3      3      1        2  50000
4      2      2        1  55000

'\n단순히 Label Encoding을 해버리면 명목형 자료에서는 의도하지 않는 중요도가 생길 가능성이 있고 순서형 자료에서는 순서를 제대로 나타내지 못하는 부작용이 생길 가능성이 있다.'

In [46]:
import pandas as pd

# 데이터프레임 생성
data = {
    "ID": ["TRAIN_0000", "TRAIN_0001", "TRAIN_0002", "TRAIN_0003", "TRAIN_0004"],
    "age": [75, 23, 34, 34, 51],
    "education": ["Some-college", "Bachelors", "Some-college", "HS-grad", "HS-grad"],
    "hours.per.week": [30, 40, 12, 36, 60],
    "occupation": ["Craft-repair", "Exec-managerial", "Other-service", "Adm-clerical", "Farming-fishing"],
    "race": ["White", "White", "White", "White", "White"],
    "target": [0, 0, 0, 0, 0]
}

df = pd.DataFrame(data)

# CSV로 저장
df.to_csv("train_data.csv", index=False, encoding="utf-8-sig")
print("CSV 파일이 저장되었습니다: train_data.csv")

CSV 파일이 저장되었습니다: train_data.csv

In [47]:
# education column 인코딩하기
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
le = LabelEncoder()
data = pd.read_csv('train_data.csv')
data1 = data.copy()
data1['education'] = le.fit_transform(data1['education'])
print(data['education'].unique())
print(data1['education'].unique())

['Some-college' 'Bachelors' 'HS-grad']
[2 0 1]

In [48]:
# education 열에 새로운 고유값 있는지 확인하기
data2 = data.copy()
with open('test_income_simple.csv', 'w', encoding = 'utf-8') as file:
    file.write('''ID,age,education,hours.per.week,occupation,race,
               TEST_0000,23,7th-8th,40,Machine-op-inspct,Black
                TEST_0001,41,HS-grad,40,Sales,White
                TEST_0002,47,HS-grad,38,Prof-specialty,White
                TEST_0003,31,HS-grad,40,Machine-op-inspct,White
                TEST_0004,22,Some-college,40,Adm-clerical,White
                ''')
test = pd.read_csv('test_income_simple.csv', encoding = 'utf-8')
dup_check = set(test['education'].unique()) - set(le.classes_)
print(dup_check)

{'7th-8th'}

In [49]:
# 순서형 범주답게 인코딩하기
# 1. 직접 매핑해주기
train_ex2 = data.copy()
education_map = {'Preschool' : 0,
                 '1st-4th' : 1,
                 '5th-6th' : 2,
                 '7th-8th' : 3,
                 '9th' : 4,
                 '10th' : 5,
                 '11th' : 6,
                 '12th': 7,
                 'HS-grad' : 8,
                 'Some-college' : 9,
                 'Assoc-voc' : 10,
                 'Assoc-acdm' : 11,
                 'Bachelors' : 12,
                 'Masters' : 13,
                 'Prof-school' : 14,
                 'Doctorate': 15 }

train_ex2['education'] = train_ex2['education'].replace(education_map)
display(train_ex2.head())
display(train_ex2['education'].dtype)
display(train_ex2['education'].unique())

C:\Users\for18\AppData\Local\Temp\ipykernel_1536\3815599254.py:21: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_ex2['education'] = train_ex2['education'].replace(education_map)

           ID  age  education  hours.per.week       occupation   race  target
0  TRAIN_0000   75          9              30     Craft-repair  White       0
1  TRAIN_0001   23         12              40  Exec-managerial  White       0
2  TRAIN_0002   34          9              12    Other-service  White       0
3  TRAIN_0003   34          8              36     Adm-clerical  White       0
4  TRAIN_0004   51          8              60  Farming-fishing  White       0

dtype('int64')

array([ 9, 12,  8])

In [50]:
# 2. OrdinalEncoder 사용
from sklearn.preprocessing import OrdinalEncoder

train_ex3 = data.copy()

# OrdinalEncoder 초기화 및 범주 순서 지정
encoder_train = OrdinalEncoder(categories=[['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th',
     'HS-grad', 'Some-college', 'Assoc-voc', 'Assoc-acdm', 'Bachelors', 'Masters',
     'Prof-school', 'Doctorate']])

# 'education' 컬럼에 OrdinalEncoder 적용
train_ex3['education'] = encoder_train.fit_transform(train_ex3[['education']]).astype(int)

# 인코딩 순서 확인하기
display(encoder_train.categories_)

# 인코딩된 결과 확인
display(train_ex3.head())
display(train_ex3['education'].dtype)
display(train_ex3['education'].unique())

[array(['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th',
        '11th', '12th', 'HS-grad', 'Some-college', 'Assoc-voc',
        'Assoc-acdm', 'Bachelors', 'Masters', 'Prof-school', 'Doctorate'],
       dtype=object)]

           ID  age  education  hours.per.week       occupation   race  target
0  TRAIN_0000   75          9              30     Craft-repair  White       0
1  TRAIN_0001   23         12              40  Exec-managerial  White       0
2  TRAIN_0002   34          9              12    Other-service  White       0
3  TRAIN_0003   34          8              36     Adm-clerical  White       0
4  TRAIN_0004   51          8              60  Farming-fishing  White       0

dtype('int64')

array([ 9, 12,  8])

In [51]:
# 범주수를 최대한 줄이고 순서형일 경우 수동 매핑 혹은 ordinal encode 실시해야함

In [52]:
# 명목형 변수 인코딩
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
train_used_car = pd.read_csv('used_car_data.csv')
train_ex1 = train_used_car.copy()
encoder = OneHotEncoder(sparse_output = False, handle_unknown = 'ignore')
train_encoded = encoder.fit_transform(train_used_car[['Brand', 'Model']]) #  이진 인코딩. 해당 범주가 맞으면 1 아니면 0으로 분류함
encoded_columns = encoder.get_feature_names_out(['Brand', 'Model'])
train_encoded_df = pd.DataFrame(train_encoded, columns = encoded_columns)
train_ex1 = pd.concat([train_ex1, train_encoded_df], axis = 1).drop(['Brand', 'Model'], axis = 1)
train_ex1

,정비 이력등급,주행거리,중고차가격,Brand_Ford,Brand_Honda,Brand_Toyota,Model_SUV,Model_Sedan,Model_Truck
0,없음,44676.6,20052.0,1.0,0.0,0.0,0.0,1.0,0.0
1,보통,51638.2,16511.6,0.0,1.0,0.0,0.0,1.0,0.0
2,없음,57685.7,13936.9,1.0,0.0,0.0,1.0,0.0,0.0
3,정기적,45822.0,25494.9,0.0,0.0,1.0,0.0,1.0,0.0
4,없음,38865.6,21297.9,0.0,0.0,1.0,0.0,1.0,0.0
5,정기적,56178.5,22708.3,0.0,0.0,1.0,0.0,1.0,0.0
6,없음,58437.6,15314.2,0.0,1.0,0.0,0.0,0.0,1.0
7,보통,39963.5,23178.7,0.0,0.0,1.0,1.0,0.0,0.0
8,없음,61611.4,13233.2,0.0,0.0,1.0,0.0,1.0,0.0
9,정기적,73547.4,11806.2,1.0,0.0,0.0,0.0,1.0,0.0

In [53]:
test_used_car = pd.read_csv('test_dataset.csv')
test_ex1 = test_used_car.copy()
try :
    test_encoded = encoder.transform(test_ex1[['Brand', 'Model']])
    test_encoded_df = pd.DataFrame(test_encoded, columns=encoded_columns)
    test_ex1 = pd.concat([test_ex1, test_encoded_df], axis=1).drop(['Brand', 'Model'], axis=1)
    test_ex1

except Exception as e:
    print(f"Error : {e}") # 학습 데이터셋에 없는 데이터가 존재하므로 에러 발생(Chevorlet), encoder에 handle_unknown = 'ignore' 추가해주면 해결됨
display(test_ex1)

,정비 이력등급,주행거리,Brand_Ford,Brand_Honda,Brand_Toyota,Model_SUV,Model_Sedan,Model_Truck
0,보통,45000,0.0,0.0,1.0,1.0,0.0,0.0
1,없음,30000,1.0,0.0,0.0,0.0,0.0,1.0
2,정기적,40000,0.0,1.0,0.0,0.0,1.0,0.0
3,정기적,50000,0.0,0.0,0.0,0.0,1.0,0.0
4,없음,55000,0.0,0.0,1.0,0.0,0.0,1.0

In [54]:
# Brand_Honda, Brand_Toyota가 모두 0이면 자동으로 Brand_Ford는 1이되고
# 모델도 마찬가지임. 따라서 첫번째 열은 필요없다고 봐도 무방함. 오히려 악영향을 줌(다중공선성, 더미 변수의 함정)

In [55]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

train_ex3 = train_used_car.copy()

encoder_ex3 = OneHotEncoder(sparse_output = False, drop = 'first', handle_unknown = 'ignore') # 첫번째 열 제거
train_encoded_ex3 = encoder_ex3.fit_transform(train_ex3[['Brand','Model']])

# Convert the encoded features into a DataFrame
encoded_columns_ex3 = encoder_ex3.get_feature_names_out(['Brand', 'Model'])
train_encoded_df3 = pd.DataFrame(train_encoded_ex3, columns=encoded_columns_ex3)

train_ex3 = pd.concat([train_ex3, train_encoded_df3], axis=1).drop(['Brand', 'Model'], axis=1)

test_ex3 = test_used_car.copy()
test_encoded_ex3 = encoder_ex3.transform(test_ex3[['Brand', 'Model']])
test_encoded_df3 = pd.DataFrame(test_encoded_ex3, columns=encoded_columns_ex3)

test_ex3 = pd.concat([test_ex3, test_encoded_df3], axis=1).drop(['Brand', 'Model'], axis=1)

display(encoded_columns_ex3)
display(train_ex3.head())
display(test_ex3.head())

C:\Users\for18\OneDrive\문서\GitHub\Machine-Learning-daycon\.venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:246: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

array(['Brand_Honda', 'Brand_Toyota', 'Model_Sedan', 'Model_Truck'],
      dtype=object)

,정비 이력등급,주행거리,중고차가격,Brand_Honda,Brand_Toyota,Model_Sedan,Model_Truck
0,없음,44676.6,20052.0,0.0,0.0,1.0,0.0
1,보통,51638.2,16511.6,1.0,0.0,1.0,0.0
2,없음,57685.7,13936.9,0.0,0.0,0.0,0.0
3,정기적,45822.0,25494.9,0.0,1.0,1.0,0.0
4,없음,38865.6,21297.9,0.0,1.0,1.0,0.0

  정비 이력등급   주행거리  Brand_Honda  Brand_Toyota  Model_Sedan  Model_Truck
0      보통  45000          0.0           1.0          0.0          0.0
1      없음  30000          0.0           0.0          0.0          1.0
2     정기적  40000          1.0           0.0          1.0          0.0
3     정기적  50000          0.0           0.0          1.0          0.0
4      없음  55000          0.0           1.0          0.0          1.0

In [68]:
# 범주가 다수일 때 사용하는 BinaryEncoding
# Label Encode 후 이진수로 표현하여 고정된 길이의 범주 생성
import category_encoders as ce
train_ex5 = pd.read_csv('train_data.csv').copy()
encoder_ex5 = ce.BinaryEncoder(cols = ['occupation'])
train_encoded_ex5 = encoder_ex5.fit_transform(train_ex5[['occupation']])
encoded_columns_ex5 = train_encoded_ex5.columns # 열 이름 추출
train_encoded_df5 = pd.DataFrame(train_encoded_ex5, columns=encoded_columns_ex5) # 열 지정하기
train_ex5 = pd.concat([train_ex5, train_encoded_df5], axis = 1).drop(['occupation'], axis = 1)
train_ex5

,ID,age,education,hours.per.week,race,target,occupation_0,occupation_1,occupation_2
0,TRAIN_0000,75,Some-college,30,White,0,0,0,1
1,TRAIN_0001,23,Bachelors,40,White,0,0,1,0
2,TRAIN_0002,34,Some-college,12,White,0,0,1,1
3,TRAIN_0003,34,HS-grad,36,White,0,1,0,0
4,TRAIN_0004,51,HS-grad,60,White,0,1,0,1